<header class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
        <a routerLink="home">
            <img class="logo" src="./assets/logo.png" alt="">
        </a>
        <ul class="main" *ngIf="userLogged | async as user; else logout">

            <li class="link-regular item-main">
                <a class="link" routerLink="my-list" routerLinkActive="active">Mi lista</a>
            </li>

            <!-- <li class="link-regular item-main">
                <a class="link" routerLink="home" routerLinkActive="active">Agregar</a>
            </li> -->

            <li class="link-regular item-main">
                <a class="link" (click)="logOut()"> Salir <i class="ml-1 fas fa-arrow-right"></i></a>
            </li>
        </ul>

        <ng-template #logout>
            <ul class="main">
                <li class="link-regular item-main">
                    <a class="link" routerLink="movies" routerLinkActive="active">Películas</a>
                </li>
                <li class="link-regular item-main">
                    <a class="link" routerLink="series" routerLinkActive="active">Series</a>
                </li>
                <li class="link-regular item-main">
                    <a class="link" routerLink="login" routerLinkActive="active">Ingresar <i class="ml-1 fas fa-arrow-right"></i></a>
                </li>
            </ul>
        </ng-template>

    </div>
</header>