<div class="cards col-md-3 col-12">
    <div class="star d-flex justify-content-center align-items-center"><i class="far fa-star mr-1"></i>6.8</div>
    <img class="portada" src="./assets/portadas/img1.jpg" alt="portada">
    <p class="title-card link-regular">Black Widow</p>
    <button class="btn-add d-flex align-items-center">
        <span class="mr-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="#7b6ef6" class="bi bi-plus"
                viewBox="0 0 16 16">
                <path
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg>
        </span>
        <span>
            Agregar a mi lista
        </span>
    </button>
</div>