<section class="container pt-70">
    <p class=".body-extra-small description">PelisUp!</p>
    <h1 class="title">Series</h1>
    <input class="search" placeholder="&#xF002; Buscar películas y series" type="search">
    <p class="count body-regular">120 itmes</p>
    <div class="d-flex justify-content-center flex-wrap">
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
    </div>
</section>