<section class="container pt-70 mt-5 text-center">
    <div class="row">
        <div class="col-md-6  d-md-block  d-xs-none d-none">
            <div class="w-75 h-100 overlay">
                <img src="./assets/Saly-11.png" alt="">
            </div>
        </div>
        <div class="col-md-6 col-12">
            <form (ngSubmit)="login" [formGroup]="login">
                <div class="mb-3 text-left">
                    <label class=" col-form-label title">Correo</label>
                    <div>
                        <input type="email" class="form-control" formControlName="email" placeholder="Ingrese su correo." />
                        <span class="form-text text-danger" *ngIf="campoEsValido('email')">
                            El correo es invalido.
                        </span>
                    </div>
                </div>
                <div class="mb-3 text-left">
                    <label class=" col-form-label title">Contraseña</label>
                    <div>
                        <input type="password" class="form-control" formControlName="password" placeholder="Ingrese su contraseña." />
                        <span class="form-text text-danger" *ngIf="campoEsValido('password')">
                            La contraseña debe tener al menos 6 digitos.
                        </span>
                    </div>
                </div>
                <button class="btn btn-primary btn-block" (click)="ingresar()"> Ingresar</button>
                <button class="btn btn-primary btn-block" (click)="ingresarGoogle()"><i class="fab fa-google"></i>  Ingresar con Google</button>
            </form>
        </div>
    </div>
    <!-- <h1 class="title animation">⚙</h1>
    <h3 class="title">¡En construccion!</h3> -->
</section>