.title {
    color: var(--grey50);
}

.overlay {
    background-color: var(--primary900);
    border-radius: 20px;
}

.animation {
    margin-bottom: 0px;
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes example {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
