<section class="container pt-70 ">
  <h1 class="title">PelisUP!</h1>
  <p class="body-regular description">Plataforma para ver películas y series 😉</p>
  <input class="search" name="search" [(ngModel)]="search" (ngModelChange)="Search()"
    placeholder="&#xF002; Buscar películas y series" type="search">
  <div class="tab pr-0 pl-0 col-md-6 col-12">
    <li (click)="SetFilter('Todos')" [ngClass]="{'active': filter == 'Todos'}" class="link-regular item-tab active">
      Todos
    </li>
    <li (click)="SetFilter('tv')" [ngClass]="{'active': filter == 'tv'}" class="link-regular item-tab">
      Películas
    </li>
    <li (click)="SetFilter('movie')" [ngClass]="{'active': filter == 'movie'}" class="link-regular item-tab">Series
    </li>
  </div>
  <h3 class="all d-block">{{filter == 'tv' ? 'Pélicuas' : filter == 'movie' ? 'Series' : 'Todos'}} <small
      class="body-regular">({{DataCount() }})</small></h3>
  <div class="d-flex justify-content-center align-items-start flex-wrap">
    <div *ngFor="let card of searchMovie">
      <div *ngIf="filter == 'Todos' || card.media_type == filter" class="cards col-lg-3 col-md-4 col-12">
        <div class="star d-flex justify-content-center align-items-center"><i class="far fa-star mr-1"></i>{{
          card.vote_average }}</div>
        <img class="portada" src="{{card.poster_path}}" alt="pordata de {{ card.name || card.title}}">
        <p class="title-card link-regular">{{ card.name || card.title }}</p>
        <button (click)="addList(card)" class="btn-add d-flex">
          <span class="mr-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#7b6ef6" class="bi bi-plus"
              viewBox="0 0 16 16">
              <path
                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg>
          </span>
          <span>
            Agregar a mi lista
          </span>
        </button>
      </div>
    </div>
  </div>
</section>