<section class="container pt-5 ">
  <h1 class="title">Mi lista</h1>
  <!-- <input class="search mb-5" name="search" [(ngModel)]="search" (ngModelChange)="Search()"
      placeholder="&#xF002; Buscar películas y series" type="search"> -->
  <div class="d-flex justify-content-between align-items-start flex-wrap">
    <div *ngFor="let card of movies">
      <div class="star d-flex justify-content-center align-items-center"><i class="far fa-star mr-1"></i>{{
        card.vote_average }}</div>
      <img class="portada" src="{{card.poster_path}}" alt="pordata de {{ card.name || card.title}}">
      <p class="title-card link-regular">{{ card.name || card.title }}</p>
      <button (click)="deleteItem(card.idGlobal)" class="btn-delete d-flex">
        <span class="mr-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="20 " height="20" fill="#ffbd6d" class="bi bi-calendar2-x"
            viewBox="0 0 16 16">
            <path
              d="M6.146 8.146a.5.5 0 0 1 .708 0L8 9.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 10l1.147 1.146a.5.5 0 0 1-.708.708L8 10.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 10 6.146 8.854a.5.5 0 0 1 0-.708z" />
            <path
              d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z" />
            <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z" />
          </svg>
        </span>
        <span>
          Eliminar de mi lista
        </span>
      </button>
    </div>
  </div>
</section>