.portada {
    width: 100%;
    max-height: 355px;
    border-radius: 12px;
}

.cards {
    position: relative;
    background: var(--black50);
    color: var(--grey50);
    border-radius: 12px;
    padding: 8px;
    margin: 12px;
    max-width: 253px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.cards:hover {
    background: var(--grey50);
    color: var(--black50);
}

.cards p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.title-card{
    padding: 5px;
}

.star{
    top: 18px;
    left: 18px;
    position: absolute;
    color: var(--warning500);
    background-color: var(--black75);
    border-radius: 8px;
    height: 40px;
    width: 60px;
}
.search {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 1px solid #475069;
    color: #ffffff;
    padding: 18px;
    max-width: 344px;
    width: 100%;
    margin-bottom: 10px;
}
.title {
    margin-top: 80px;
    color: var(--grey50);
}
.btn-delete {
    color: var(--warning400);
    font-weight: 500;
    padding: 5px;
    background-color: transparent;
    border-color: transparent;
}